// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference

$gray-100: #eff0f6 !default;
$gray-200: #ced1e3 !default;
$gray-300: #aeb2d0 !default;
$gray-400: #8d94be !default;
$gray-500: #6d75ab !default;
$gray-600: #545c92 !default;
$gray-700: #414771 !default;
$gray-800: #2f3351 !default;
$gray-900: #1c1f31 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$primary: #535c92 !default;
$secondary: #ed2c40 !default;
$success: #38a169 !default;
$info: #0ea5e9 !default;
$warning: #f59e0b !default;
$danger: #dc2626 !default;
$light: $gray-300 !default;
$dark: #1C223D !default;


$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "gray":       $gray-500,
  ),
  $theme-colors
);