// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference

$gray-100: #f8feff !default;
$gray-200: #e0ecee !default;
$gray-300: #cfe2e4 !default;
$gray-400: #83a0a3 !default;
$gray-500: #688b90 !default;
$gray-600: #4e6a6f !default;
$gray-700: #334d51 !default;
$gray-800: #244147 !default;
$gray-900: #102b31 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$primary: #1e9494 !default;
$secondary: #d7bf0e !default;
$success: #38a169 !default;
$info: #0ea5e9 !default;
$warning: #f59e0b !default;
$danger: #dc2626 !default;
$light: $gray-100 !default;
$dark: #102b31 !default;


$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "gray":       $gray-500,
  ),
  $theme-colors
);